<section>
    <h1>Submitted Videos</h1>
    {% if vids_list %}
            {% for vid in vids_list %}
                <li>
                    <img src={{ vid.thumb_url }}>
                    <span>{{ vid.title }}</span>
                    <a href="#">⬆</a>
                    <span>{{ vid.points }}</span>
                    <a href="#">⬇</a>
                </li>
            {% endfor %}
    {% else %}
        <p>No videos in queue. Go ahead, submit one!</p>
    {% endif %}
</section>

<section>
    <h1>Submit Video</h1>
    <p>
    Enter the video id (the part after <tt>watch?v=</tt> in the video's url) of a YouTube video to submit it.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ vid_form.as_p }}
        <button type="submit">Submit</button>
    </form>
</section>
