{% extends "base.html" %}
{% load static %}

{% block content %}

<section id=submitted_videos>

</section>

<section>
    <h1>Submit Video</h1>
    <p>
    Enter the video id (the part after <tt>watch?v=</tt> in the video's url) of a YouTube video to submit it.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ vid_form.as_p }}
        <button type="submit">Submit</button>
    </form>
</section>



{% endblock content %}


{% block scripts %}
    {{ block.super }}

    <script>

        const ajaxUrl    = {% url 'videos:vote' %}
        const vidListUrl = {% url 'videos:vidlist' %}
        const CSRF_TOKEN = '{{ csrf_token }}'

    </script>

    <script src="{% static 'videos/vote.js' %}"></script>

{% endblock scripts %}

